button {
        border: none;
        background: transparent;
        font: 600 1rem "Roboto", sans-serif;
        padding: 1.5rem 3rem;
        border: 0.25rem solid var(--yellow500);
        cursor: pointer;
        margin: 0.5rem;
        transition: 0.2s ease all;
        a {
                font: 600 1rem "Roboto", sans-serif;
                text-decoration: none;
                color: #000;
        }
        &:hover {
                border: 0.25rem solid #222;
                background: #fefefefe;
                color: #222;
        }
}
