@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: "Roboto", sans-serif;
        color: #222;
        font: 400 1rem "Roboto", sans-serif;
        overflow-x: hidden;
        overflow: overlay;

        &::-webkit-scrollbar-thumb {
                background-color: #111;
                outline: 0rem solid #111;
        }
        &::-webkit-scrollbar {
                width: 0.375rem;
                background-color: transparent;
        }
        &::-webkit-scrollbar-corner {
                background: transparent;
        }
        &::-webkit-scrollbar-track {
                background-color: transparent;
        }
        &::-webkit-scrollbar-track:hover {
                background-color: rgba(0, 0, 0, 0.4);
        }
        &::-webkit-scrollbar-button {
                background: transparent;
                width: 0.375rem;
        }
}
:root {
        --blue700: #1058b6;
        --yellow500: #ffd803;
        --yellow500T: #ffd803aa;
        --purple600: #460161;
}

#gmtech {
        display: flex;
        width: 100vw;
        height: 75vh;
        justify-content: center;
        background-color: #111;
        align-items: center;
        li {
                list-style: none;
                a {
                        text-decoration: none;
                        font: 600 7rem "Roboto", sans-serif;
                        background-color: #111;
                        color: #dbdcdd;
                        transition: 0.5s ease;
                        &:hover {
                                text-shadow: 0rem 0rem 3rem rgba(218, 219, 220, 0.3);
                                color: #fff;
                        }
                }
        }
}
#googleMaps {
}
#notFound {
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        #ponto {
                h3 {
                        font: 600 3rem "Roboto", sans-serif;
                        color: #111;
                }
        }
        #code {
                h1 {
                        font: 900 7rem "Roboto", sans-serif;
                        color: var(--yellow500);
                }
        }
        #subCode {
                display: flex;
                // margin-left: 0.5rem;
                h3 {
                        font: 600 3rem "Roboto", sans-serif;
                        color: #111;
                }
        }
}
