#main-footer {
        width: 100vw;
        height: 18.75rem;
        background: #222;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        gap: 5rem;
        #info {
                margin: 2rem;
                h1 {
                        margin-bottom: 1rem;
                        font: 900 1.5rem "Roboto", sans-serif;
                }
                span {
                        margin-top: 1rem;
                        font: 500 1rem "Roboto", sans-serif;
                }
        }
        #social {
                margin: 2rem;

                ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;
                        list-style: none;
                        a {
                                text-decoration: none;
                                color: white;
                                box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.1);
                                transition: 2s ease all;
                                &:hover {
                                }
                                &:visited {
                                        color: white;
                                }
                                .fa-github:hover {
                                        transition: 0.5s ease all;
                                        color: rgba(255, 255, 255, 1);
                                        box-shadow: 0rem 0rem 2rem rgb(236, 236, 236);
                                }
                                .fa-facebook:hover {
                                        transition: 0.5s ease all;
                                        color: #1095f4;
                                        box-shadow: 0rem 0rem 2rem #3c83c5;
                                }
                                .fa-youtube:hover {
                                        transition: 0.5s ease all;
                                        color: #ff0000;
                                        box-shadow: 0rem 0rem 2rem #ff0000;
                                }
                                .fa-twitter:hover {
                                        transition: 0.5s ease all;
                                        color: #1a91da;
                                        box-shadow: 0rem 0rem 2rem rgba(11, 230, 230, 0.7);
                                }
                        }
                }
        }
}
