#header_nav {
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        #icon_header_nav {
                width: 3rem;
                height: 3rem;
        }
        ul {
                display: flex;
                gap: 2rem;

                li {
                        list-style: none;
                        font: 600 1.25rem "Roboto", sans-serif;
                        transition: 0.2s ease all;
                        &:hover {
                                cursor: pointer;
                                color: rgb(3, 9, 88);
                                text-decoration: underline;
                        }
                        a {
                                font: 600 1.25rem "Roboto", sans-serif;
                                color: #111;
                                transition: 0.2s ease all;
                                text-decoration: none;
                                &:hover {
                                        cursor: pointer;
                                        color: rgb(3, 9, 88);
                                        text-decoration: underline;
                                }
                        }
                }
        }
}
